.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    padding: 1.5em;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .hidden {
  display: none;
} */

@media screen and (min-width: 10px) {
  .App-header {
    flex-direction: column;
  }
}

@media screen and (min-width: 1001px) {
  .App-header {
    flex-direction: row;
  }
}