.main-section {
  display: flex;
  flex-direction: column;
}

.upload-type {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-container {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

input {
  padding: 1em;
}

input:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

label {
  background-color: #281aa1;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
}

a {
  padding-top: 0.5em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

p {
  align-content: left;
}
.footer {
  background-color: #0c1833;
  margin: 0px;
  padding: 1em;
  color: white;
}

.footer-a {
  background: rgb(10, 51, 113);
  border-radius: 5px;
  padding: 0.5em;
}


.download {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
}

.download:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.download:active {
  color: #000;
}

.download:active:after {
  background: transparent;
}

.download:hover:before {
  opacity: 1;
}

.download:after {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  font-weight: bold;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 10px) {
  .upload-container {
    flex-direction: column;
  }

  .example-sheet {
    max-width: 233px;
    max-height: 301px;
  }
}

@media screen and (min-width: 501px) {
  .upload-container {
    flex-direction: column;
  }

  .example-sheet {
    max-width: 466px;
    max-height: 606px;
  }
}

@media screen and (min-width: 1001px) {
  .upload-container {
    flex-direction: row;
  }

  .example-sheet {
    max-width: 466px;
    max-height: 606px;
  }
}

@media screen and (min-width: 1400px) {
  .upload-container {
    flex-direction: row;
  }

  .example-sheet {
    max-width: 692px;
    max-height: 900px;
  }
}
@media screen and (min-width: 2000px) {
  .upload-container {
    flex-direction: row;
  }

  .example-sheet {
    max-width: auto;
    max-height: auto;
  }
}
